.idea/
app/build/
app/build.gradle
app/libs/
app/proguard-rules.pro

build.gradle

build/generated/mockable-android-24.jar

build/intermediates/dex-cache/cache.xml

gradle.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

local.properties

settings.gradle
