.idea/
app/build/
app/build.gradle
app/libs/
app/proguard-rules.pro

build.gradle

build/generated/mockable-android-24.jar

build/intermediates/dex-cache/cache.xml

gradle.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

local.properties

settings.gradle

.gradle/2.14.1/taskArtifacts/cache.properties

.gradle/2.14.1/taskArtifacts/cache.properties.lock

.gradle/2.14.1/taskArtifacts/fileHashes.bin

.gradle/2.14.1/taskArtifacts/fileSnapshots.bin

.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin

.gradle/2.14.1/taskArtifacts/taskArtifacts.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
